@@ -40,9 +40,14 @@ body {
    text-align: center;
}

.destination:hover h2 {
    transform: rotate(0deg);
}

h2 {
    margin: 0;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    text-shadow: 0 0 5px #01579b;
}

#belize {
    background-color: #4dd0e1;
}
#barcelona {
    background-color: #800000;
}
