node_modules
.DS_Store
npm-debug.log
.vscode
.tmp

lighthouse-extension/dist
lighthouse-core/third_party/src
**/pages/scripts/lighthouse-report.js
coverage
lcov.info
.nyc_output

lighthouse-cli/results
results.html
last-run-results.html

*.trace.json
*.devtoolslog.json
*.screenshots.html
*.screenshots.json
*.report.html
*.report.dom.html
*.report.json
*.report.csv
*.report.pretty
*.artifacts.log

!lighthouse-core/test/results/artifacts/*.trace.json
!lighthouse-core/test/results/artifacts/*.devtoolslog.json
!lighthouse-core/test/fixtures/artifacts/**/*.trace.json
!lighthouse-core/test/fixtures/artifacts/**/*.devtoolslog.json

latest-run
lantern-data

closure-error.log
yarn-error.log

/chrome-linux/
/chrome-win32/
/chrome.zip

plots/out**
